<launch>
    <!-- ROS Topic Parameter -->
    <arg name="joints_topic" default="/shadow_joints" />

    <!-- Node -->
    <node name="command_shadow" pkg="shadow_control" type="command_shadow.py" output="screen">
        <!-- Set Parameter -->
        <param name="joints_topic" value="$(arg joints_topic)" />
    </node>
</launch>
